body {
    background-color: aquamarine;
}

div {
    color: rgb(20, 108, 92);
}

/* .container {

} */

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* border:rgb(20, 108, 92) solid 2px; */
    padding: 10px;
}

.piece {
    padding: 20px;
    margin: 10px;
    background-color:aliceblue;
    line-height: 130%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(18, 118, 95);
}

.piece:nth-child(7n) {
    grid-column: span 2;
}

@media (max-width: 1440px) {
    .content {
        font-size: 20px;
    }
}

@media (max-width: 990px) {
    .content {
        font-size: 17px;
    }
}

@media (max-width: 550px) {
    .content {
        font-size: 15px;
        grid-template-columns: repeat(2, 50%);
    }
}

@media (max-width: 450px) {
    .content {
        display: block;
    }
}